@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Edwin</td>
            <td>Sanchez</td>
        </tr>
        <tr class="table-success">
            <td>3</td>
            <td>Marce</td>
            <td>Guzman</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Paco de Jesus</td>
            <td>Barahona</td>
        </tr>
    </tbody>
</table>